{% load static %}

<div class="col-md-1 d-flex flex-column align-items-stretch pe-3" style="gap: 15px;">
    <div class="form-icon" onclick="window.location.href='/proposal/dask/'" title="DASK">
        <img src="{% static 'img/home.png' %}" alt="DASK">
    </div>
    <div class="form-icon" onclick="window.location.href='/proposal/vehicle/'" title="Araç">
        <img src="{% static 'img/car.png' %}" alt="Araç">
    </div>
    <div class="form-icon" onclick="window.location.href='/proposal/health/'" title="Sağlık">
        <img src="{% static 'img/health.png' %}" alt="Sağlık">
    </div>
    <div class="form-icon" onclick="window.location.href='/proposal/travel/'" title="Seyahat">
        <img src="{% static 'img/travel.png' %}" alt="Seyahat">
    </div>
    <div class="form-icon" onclick="window.location.href='/proposal/business/'" title="İşletme">
        <img src="{% static 'img/business.png' %}" alt="İşletme">
    </div>
    <div class="form-icon" onclick="window.location.href='/proposal/pension/'" title="Emeklilik">
        <img src="{% static 'img/pension.png' %}" alt="Emeklilik">
    </div>
    <div class="form-icon" onclick="window.location.href='/proposal/antivirus/'" title="Anti-Virüs">
        <img src="{% static 'img/antivirus.png' %}" alt="Anti-Virüs">
    </div>
</div>
